.app{
    height: 100vh;
    align-items: center;
}
.app__header{
    background-color: #ffffff;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 50px;
    box-sizing: border-box;
    z-index: 2;
    
}
.app__header__img{
    object-fit: contain;
    height: 50px;
    position: relative;
    background: #ffffff;
}
.app__header__search{
  background-color: #fafafa;
  padding: 3px 20px;
  padding-left: 25px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.0975);
  border-radius: 3px;
  font-size: 14px;
}
@media only screen and (max-width: 1026px) {
    .app__header__search {
        display: none;
    }
}

.data__container{
    margin: 100px auto 0 auto;
    position:relative;
    justify-content: space-around;
    max-width: 700px;
}
.posts__container{

}
.stories__container{
    display: flex;
    margin-bottom: 20px;
    gap: 1rem;
    padding: 1rem;
    background: white;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    overflow-x: scroll;
    user-select: none;
    scrollbar-width: none;
  }
.story__container::-webkit-scrollbar{
    display:none
}
.app__header__functions
{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}